<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleUSBXHCIFL1100@00000000</key>
	<dict>
		<key>ports</key>
		<dict>
			<key>01000000</key>
			<dict>
				<key>line</key>
				<string>                  AppleUSB20XHCIPort@00100000  &lt;class AppleUSB20XHCIPort, id 0x1000002f4</string>
				<key>indent</key>
				<integer>18</integer>
				<key>id</key>
				<string>0x1000002f4</string>
				<key>name</key>
				<string>AppleUSB20XHCIPort</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - USB Receiver</string>
				</array>
				<key>full_name</key>
				<string>AppleUSB20XHCIPort@00100000</string>
				<key>address</key>
				<string>00100000</string>
				<key>port</key>
				<string>01000000</string>
				<key>comment</key>
				<string>USB3.0(SS) Back Right</string>
				<key>enabled</key>
				<false/>
				<key>type_override</key>
				<integer>0</integer>
			</dict>
			<key>02000000</key>
			<dict>
				<key>line</key>
				<string>                  AppleUSB20XHCIPort@00200000  &lt;class AppleUSB20XHCIPort, id 0x1000002f6</string>
				<key>indent</key>
				<integer>18</integer>
				<key>id</key>
				<string>0x1000002f6</string>
				<key>name</key>
				<string>AppleUSB20XHCIPort</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - USB Receiver</string>
				</array>
				<key>full_name</key>
				<string>AppleUSB20XHCIPort@00200000</string>
				<key>address</key>
				<string>00200000</string>
				<key>port</key>
				<string>02000000</string>
				<key>comment</key>
				<string>USB3.0(SS) Back Left</string>
				<key>enabled</key>
				<false/>
				<key>type_override</key>
				<integer>0</integer>
			</dict>
			<key>03000000</key>
			<dict>
				<key>line</key>
				<string>                  AppleUSB20XHCIPort@00300000  &lt;class AppleUSB20XHCIPort, id 0x1000002f8</string>
				<key>indent</key>
				<integer>18</integer>
				<key>id</key>
				<string>0x1000002f8</string>
				<key>name</key>
				<string>AppleUSB20XHCIPort</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - USB Receiver</string>
				</array>
				<key>full_name</key>
				<string>AppleUSB20XHCIPort@00300000</string>
				<key>address</key>
				<string>00300000</string>
				<key>port</key>
				<string>03000000</string>
				<key>comment</key>
				<string>USB3.0(SS) Front Right</string>
				<key>enabled</key>
				<true/>
				<key>type_override</key>
				<integer>0</integer>
			</dict>
			<key>04000000</key>
			<dict>
				<key>line</key>
				<string>                  AppleUSB20XHCIPort@00400000  &lt;class AppleUSB20XHCIPort, id 0x1000002fa</string>
				<key>indent</key>
				<integer>18</integer>
				<key>id</key>
				<string>0x1000002fa</string>
				<key>name</key>
				<string>AppleUSB20XHCIPort</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - USB Receiver</string>
				</array>
				<key>full_name</key>
				<string>AppleUSB20XHCIPort@00400000</string>
				<key>address</key>
				<string>00400000</string>
				<key>port</key>
				<string>04000000</string>
				<key>comment</key>
				<string>USB3.0(SS) Front Left</string>
				<key>enabled</key>
				<true/>
				<key>type_override</key>
				<integer>0</integer>
			</dict>
			<key>05000000</key>
			<dict>
				<key>line</key>
				<string>                  AppleUSB30XHCIPort@00500000  &lt;class AppleUSB30XHCIPort, id 0x1000002fc</string>
				<key>indent</key>
				<integer>18</integer>
				<key>id</key>
				<string>0x1000002fc</string>
				<key>name</key>
				<string>AppleUSB30XHCIPort</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - SanDisk 3.2Gen1</string>
				</array>
				<key>full_name</key>
				<string>AppleUSB30XHCIPort@00500000</string>
				<key>address</key>
				<string>00500000</string>
				<key>port</key>
				<string>05000000</string>
				<key>comment</key>
				<string>USB3.0(HS) Back Right</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>06000000</key>
			<dict>
				<key>line</key>
				<string>                  AppleUSB30XHCIPort@00600000  &lt;class AppleUSB30XHCIPort, id 0x1000002fe</string>
				<key>indent</key>
				<integer>18</integer>
				<key>id</key>
				<string>0x1000002fe</string>
				<key>name</key>
				<string>AppleUSB30XHCIPort</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - SanDisk 3.2Gen1</string>
				</array>
				<key>full_name</key>
				<string>AppleUSB30XHCIPort@00600000</string>
				<key>address</key>
				<string>00600000</string>
				<key>port</key>
				<string>06000000</string>
				<key>comment</key>
				<string>USB3.0(HS) Back Left</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>07000000</key>
			<dict>
				<key>line</key>
				<string>                  AppleUSB30XHCIPort@00700000  &lt;class AppleUSB30XHCIPort, id 0x100000300</string>
				<key>indent</key>
				<integer>18</integer>
				<key>id</key>
				<string>0x100000300</string>
				<key>name</key>
				<string>AppleUSB30XHCIPort</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - SanDisk 3.2Gen1</string>
				</array>
				<key>full_name</key>
				<string>AppleUSB30XHCIPort@00700000</string>
				<key>address</key>
				<string>00700000</string>
				<key>port</key>
				<string>07000000</string>
				<key>comment</key>
				<string>USB3.0(HS) Front Right</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>08000000</key>
			<dict>
				<key>line</key>
				<string>                  AppleUSB30XHCIPort@00800000  &lt;class AppleUSB30XHCIPort, id 0x100000301</string>
				<key>indent</key>
				<integer>18</integer>
				<key>id</key>
				<string>0x100000301</string>
				<key>name</key>
				<string>AppleUSB30XHCIPort</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - SanDisk 3.2Gen1</string>
				</array>
				<key>full_name</key>
				<string>AppleUSB30XHCIPort@00800000</string>
				<key>address</key>
				<string>00800000</string>
				<key>port</key>
				<string>08000000</string>
				<key>comment</key>
				<string>USB3.0(HS) Front Left</string>
				<key>enabled</key>
				<true/>
			</dict>
		</dict>
		<key>line</key>
		<string>                AppleUSBXHCIFL1100@00000000  &lt;class AppleUSBXHCIFL1100, id 0x1000002a5</string>
		<key>indent</key>
		<integer>16</integer>
		<key>id</key>
		<string>0x1000002a5</string>
		<key>name</key>
		<string>AppleUSBXHCIFL1100</string>
		<key>type</key>
		<string>AppleUSBXHCIFL1100</string>
		<key>items</key>
		<dict/>
		<key>address</key>
		<string>00000000</string>
		<key>parent</key>
		<string>pci1b73,1100@0</string>
		<key>parent_name</key>
		<string>pci1b73,1100</string>
		<key>acpi_path</key>
		<string>IOACPIPlane:/_SB/PCI0@0/PEG1@10001</string>
		<key>acpi_address</key>
		<string>Zero</string>
		<key>pci_debug</key>
		<string>2:0:0</string>
		<key>ioservice_path</key>
		<string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/PEG1@1,1/IOPP/pci1b73,1100@0/AppleUSBXHCIFL1100@00000000</string>
	</dict>
	<key>EHC2@1a000000</key>
	<dict>
		<key>ports</key>
		<dict>
			<key>01000000</key>
			<dict>
				<key>line</key>
				<string>              PR01@1a100000  &lt;class AppleUSBEHCIPort, id 0x10000030c</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x10000030c</string>
				<key>name</key>
				<string>PR01</string>
				<key>type</key>
				<string>AppleUSBEHCIPort</string>
				<key>items</key>
				<array>
					<string>    - AppleUSB20Hub (HUB-1a100000)</string>
				</array>
				<key>full_name</key>
				<string>PR01@1a100000</string>
				<key>address</key>
				<string>1a100000</string>
				<key>connector</key>
				<integer>0</integer>
				<key>port</key>
				<string>01000000</string>
				<key>enabled</key>
				<true/>
				<key>type_override</key>
				<integer>255</integer>
			</dict>
			<key>02000000</key>
			<dict>
				<key>line</key>
				<string>              PR12@1a200000  &lt;class AppleUSBEHCIPort, id 0x10000030e</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x10000030e</string>
				<key>name</key>
				<string>PR12</string>
				<key>type</key>
				<string>AppleUSBEHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>PR12@1a200000</string>
				<key>address</key>
				<string>1a200000</string>
				<key>port</key>
				<string>02000000</string>
				<key>connector</key>
				<integer>255</integer>
			</dict>
		</dict>
		<key>line</key>
		<string>            EHC2@1a000000  &lt;class AppleUSBEHCIPCI, id 0x10000027f</string>
		<key>indent</key>
		<integer>12</integer>
		<key>id</key>
		<string>0x10000027f</string>
		<key>name</key>
		<string>EHC2</string>
		<key>type</key>
		<string>AppleUSBEHCIPCI</string>
		<key>items</key>
		<dict/>
		<key>address</key>
		<string>1a000000</string>
		<key>parent</key>
		<string>EHC2@1A</string>
		<key>parent_name</key>
		<string>EHC2</string>
		<key>acpi_path</key>
		<string>IOACPIPlane:/_SB/PCI0@0/EHC2@1a0000</string>
		<key>acpi_address</key>
		<string>0x001A0000</string>
		<key>pci_debug</key>
		<string>0:26:0</string>
		<key>ioservice_path</key>
		<string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/EHC2@1A/EHC2@1a000000</string>
	</dict>
	<key>HUB-1a100000</key>
	<dict>
		<key>ports</key>
		<dict>
			<key>01000000</key>
			<dict>
				<key>line</key>
				<string>                    AppleUSB20HubPort@1a110000  &lt;class AppleUSB20HubPort, id 0x100000351</string>
				<key>indent</key>
				<integer>20</integer>
				<key>id</key>
				<string>0x100000351</string>
				<key>name</key>
				<string>AppleUSB20HubPort</string>
				<key>type</key>
				<string>AppleUSB20HubPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>AppleUSB20HubPort@1a110000</string>
				<key>address</key>
				<string>1a110000</string>
				<key>port</key>
				<string>01000000</string>
			</dict>
			<key>02000000</key>
			<dict>
				<key>line</key>
				<string>                    AppleUSB20HubPort@1a120000  &lt;class AppleUSB20HubPort, id 0x100000352</string>
				<key>indent</key>
				<integer>20</integer>
				<key>id</key>
				<string>0x100000352</string>
				<key>name</key>
				<string>AppleUSB20HubPort</string>
				<key>type</key>
				<string>AppleUSB20HubPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>AppleUSB20HubPort@1a120000</string>
				<key>address</key>
				<string>1a120000</string>
				<key>port</key>
				<string>02000000</string>
			</dict>
			<key>03000000</key>
			<dict>
				<key>line</key>
				<string>                    AppleUSB20HubPort@1a130000  &lt;class AppleUSB20HubPort, id 0x100000353</string>
				<key>indent</key>
				<integer>20</integer>
				<key>id</key>
				<string>0x100000353</string>
				<key>name</key>
				<string>AppleUSB20HubPort</string>
				<key>type</key>
				<string>AppleUSB20HubPort</string>
				<key>items</key>
				<array>
					<string>    - BCM20702A0</string>
				</array>
				<key>full_name</key>
				<string>AppleUSB20HubPort@1a130000</string>
				<key>address</key>
				<string>1a130000</string>
				<key>port</key>
				<string>03000000</string>
				<key>enabled</key>
				<true/>
				<key>type_override</key>
				<integer>255</integer>
			</dict>
			<key>04000000</key>
			<dict>
				<key>line</key>
				<string>                    AppleUSB20HubPort@1a140000  &lt;class AppleUSB20HubPort, id 0x100000354</string>
				<key>indent</key>
				<integer>20</integer>
				<key>id</key>
				<string>0x100000354</string>
				<key>name</key>
				<string>AppleUSB20HubPort</string>
				<key>type</key>
				<string>AppleUSB20HubPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>AppleUSB20HubPort@1a140000</string>
				<key>address</key>
				<string>1a140000</string>
				<key>port</key>
				<string>04000000</string>
			</dict>
			<key>05000000</key>
			<dict>
				<key>line</key>
				<string>                    AppleUSB20HubPort@1a150000  &lt;class AppleUSB20HubPort, id 0x100000355</string>
				<key>indent</key>
				<integer>20</integer>
				<key>id</key>
				<string>0x100000355</string>
				<key>name</key>
				<string>AppleUSB20HubPort</string>
				<key>type</key>
				<string>AppleUSB20HubPort</string>
				<key>items</key>
				<array>
					<string>    - USB Receiver</string>
				</array>
				<key>full_name</key>
				<string>AppleUSB20HubPort@1a150000</string>
				<key>address</key>
				<string>1a150000</string>
				<key>port</key>
				<string>05000000</string>
				<key>comment</key>
				<string>USB2.0(INT) Front Bottom</string>
				<key>enabled</key>
				<false/>
			</dict>
			<key>06000000</key>
			<dict>
				<key>line</key>
				<string>                    AppleUSB20HubPort@1a160000  &lt;class AppleUSB20HubPort, id 0x100000356</string>
				<key>indent</key>
				<integer>20</integer>
				<key>id</key>
				<string>0x100000356</string>
				<key>name</key>
				<string>AppleUSB20HubPort</string>
				<key>type</key>
				<string>AppleUSB20HubPort</string>
				<key>items</key>
				<array>
					<string>    - USB Receiver</string>
				</array>
				<key>full_name</key>
				<string>AppleUSB20HubPort@1a160000</string>
				<key>address</key>
				<string>1a160000</string>
				<key>port</key>
				<string>06000000</string>
				<key>comment</key>
				<string>USB2.0(INT) Front Top</string>
				<key>enabled</key>
				<false/>
			</dict>
		</dict>
		<key>line</key>
		<string>                  AppleUSB20Hub@1a100000  &lt;class AppleUSB20Hub, id 0x10000034b</string>
		<key>indent</key>
		<integer>18</integer>
		<key>id</key>
		<string>0x10000034b</string>
		<key>name</key>
		<string>AppleUSB20Hub</string>
		<key>type</key>
		<string>AppleUSB20Hub</string>
		<key>items</key>
		<dict/>
		<key>is_hub</key>
		<true/>
		<key>address</key>
		<string>1a100000</string>
		<key>locationid</key>
		<integer>437256192</integer>
		<key>parent</key>
		<string>HUB-1a100000</string>
		<key>parent_name</key>
		<string>EHC2@1a000000</string>
		<key>ioservice_path</key>
		<string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/EHC2@1A/EHC2@1a000000/PR01@1a100000/IOUSBHostDevice@1a100000/AppleUSB20Hub@1a100000</string>
	</dict>
	<key>EUSB@1d000000</key>
	<dict>
		<key>ports</key>
		<dict>
			<key>01000000</key>
			<dict>
				<key>line</key>
				<string>              PR10@1d100000  &lt;class AppleUSBEHCIPort, id 0x10000030b</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x10000030b</string>
				<key>name</key>
				<string>PR10</string>
				<key>type</key>
				<string>AppleUSBEHCIPort</string>
				<key>items</key>
				<array>
					<string>    - AppleUSB20Hub (HUB-1d100000)</string>
				</array>
				<key>full_name</key>
				<string>PR10@1d100000</string>
				<key>address</key>
				<string>1d100000</string>
				<key>connector</key>
				<integer>0</integer>
				<key>port</key>
				<string>01000000</string>
				<key>enabled</key>
				<true/>
				<key>type_override</key>
				<integer>255</integer>
			</dict>
			<key>02000000</key>
			<dict>
				<key>line</key>
				<string>              PR31@1d200000  &lt;class AppleUSBEHCIPort, id 0x10000030d</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x10000030d</string>
				<key>name</key>
				<string>PR31</string>
				<key>type</key>
				<string>AppleUSBEHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>PR31@1d200000</string>
				<key>address</key>
				<string>1d200000</string>
				<key>port</key>
				<string>02000000</string>
				<key>connector</key>
				<integer>255</integer>
			</dict>
		</dict>
		<key>line</key>
		<string>            EUSB@1d000000  &lt;class AppleUSBEHCIPCI, id 0x10000029a</string>
		<key>indent</key>
		<integer>12</integer>
		<key>id</key>
		<string>0x10000029a</string>
		<key>name</key>
		<string>EUSB</string>
		<key>type</key>
		<string>AppleUSBEHCIPCI</string>
		<key>items</key>
		<dict/>
		<key>address</key>
		<string>1d000000</string>
		<key>parent</key>
		<string>EUSB@1D</string>
		<key>parent_name</key>
		<string>EUSB</string>
		<key>acpi_path</key>
		<string>IOACPIPlane:/_SB/PCI0@0/EUSB@1d0000</string>
		<key>acpi_address</key>
		<string>0x001D0000</string>
		<key>pci_debug</key>
		<string>0:29:0</string>
		<key>ioservice_path</key>
		<string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/EUSB@1D/EUSB@1d000000</string>
	</dict>
	<key>HUB-1d100000</key>
	<dict>
		<key>ports</key>
		<dict>
			<key>01000000</key>
			<dict>
				<key>line</key>
				<string>                    AppleUSB20HubPort@1d110000  &lt;class AppleUSB20HubPort, id 0x100000357</string>
				<key>indent</key>
				<integer>20</integer>
				<key>id</key>
				<string>0x100000357</string>
				<key>name</key>
				<string>AppleUSB20HubPort</string>
				<key>type</key>
				<string>AppleUSB20HubPort</string>
				<key>items</key>
				<array>
					<string>    - USB Receiver</string>
				</array>
				<key>full_name</key>
				<string>AppleUSB20HubPort@1d110000</string>
				<key>address</key>
				<string>1d110000</string>
				<key>port</key>
				<string>01000000</string>
				<key>comment</key>
				<string>USB2.0(ETH) Back Right</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>02000000</key>
			<dict>
				<key>line</key>
				<string>                    AppleUSB20HubPort@1d120000  &lt;class AppleUSB20HubPort, id 0x100000358</string>
				<key>indent</key>
				<integer>20</integer>
				<key>id</key>
				<string>0x100000358</string>
				<key>name</key>
				<string>AppleUSB20HubPort</string>
				<key>type</key>
				<string>AppleUSB20HubPort</string>
				<key>items</key>
				<array>
					<string>    - Magic Keyboard</string>
				</array>
				<key>full_name</key>
				<string>AppleUSB20HubPort@1d120000</string>
				<key>address</key>
				<string>1d120000</string>
				<key>port</key>
				<string>02000000</string>
				<key>comment</key>
				<string>USB2.0(ETH) Back Left</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>03000000</key>
			<dict>
				<key>line</key>
				<string>                    AppleUSB20HubPort@1d130000  &lt;class AppleUSB20HubPort, id 0x100000359</string>
				<key>indent</key>
				<integer>20</integer>
				<key>id</key>
				<string>0x100000359</string>
				<key>name</key>
				<string>AppleUSB20HubPort</string>
				<key>type</key>
				<string>AppleUSB20HubPort</string>
				<key>items</key>
				<array>
					<string>    - USB Receiver</string>
				</array>
				<key>full_name</key>
				<string>AppleUSB20HubPort@1d130000</string>
				<key>address</key>
				<string>1d130000</string>
				<key>port</key>
				<string>03000000</string>
				<key>comment</key>
				<string>USB2.0(FW) Back Right</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>04000000</key>
			<dict>
				<key>line</key>
				<string>                    AppleUSB20HubPort@1d140000  &lt;class AppleUSB20HubPort, id 0x10000035a</string>
				<key>indent</key>
				<integer>20</integer>
				<key>id</key>
				<string>0x10000035a</string>
				<key>name</key>
				<string>AppleUSB20HubPort</string>
				<key>type</key>
				<string>AppleUSB20HubPort</string>
				<key>items</key>
				<array>
					<string>    - USB Receiver</string>
				</array>
				<key>full_name</key>
				<string>AppleUSB20HubPort@1d140000</string>
				<key>address</key>
				<string>1d140000</string>
				<key>port</key>
				<string>04000000</string>
				<key>comment</key>
				<string>USB2.0(FW) Back Left</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>05000000</key>
			<dict>
				<key>line</key>
				<string>                    AppleUSB20HubPort@1d150000  &lt;class AppleUSB20HubPort, id 0x10000035b</string>
				<key>indent</key>
				<integer>20</integer>
				<key>id</key>
				<string>0x10000035b</string>
				<key>name</key>
				<string>AppleUSB20HubPort</string>
				<key>type</key>
				<string>AppleUSB20HubPort</string>
				<key>items</key>
				<array>
					<string>    - USB Receiver</string>
				</array>
				<key>full_name</key>
				<string>AppleUSB20HubPort@1d150000</string>
				<key>address</key>
				<string>1d150000</string>
				<key>port</key>
				<string>05000000</string>
				<key>comment</key>
				<string>USB2.0(Red) Back Right</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>06000000</key>
			<dict>
				<key>line</key>
				<string>                    AppleUSB20HubPort@1d160000  &lt;class AppleUSB20HubPort, id 0x10000035c</string>
				<key>indent</key>
				<integer>20</integer>
				<key>id</key>
				<string>0x10000035c</string>
				<key>name</key>
				<string>AppleUSB20HubPort</string>
				<key>type</key>
				<string>AppleUSB20HubPort</string>
				<key>items</key>
				<array>
					<string>    - USB Receiver</string>
				</array>
				<key>full_name</key>
				<string>AppleUSB20HubPort@1d160000</string>
				<key>address</key>
				<string>1d160000</string>
				<key>port</key>
				<string>06000000</string>
				<key>comment</key>
				<string>USB2.0(Red) Back Left</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>07000000</key>
			<dict>
				<key>line</key>
				<string>                    AppleUSB20HubPort@1d170000  &lt;class AppleUSB20HubPort, id 0x10000035d</string>
				<key>indent</key>
				<integer>20</integer>
				<key>id</key>
				<string>0x10000035d</string>
				<key>name</key>
				<string>AppleUSB20HubPort</string>
				<key>type</key>
				<string>AppleUSB20HubPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>AppleUSB20HubPort@1d170000</string>
				<key>address</key>
				<string>1d170000</string>
				<key>port</key>
				<string>07000000</string>
			</dict>
			<key>08000000</key>
			<dict>
				<key>line</key>
				<string>                    AppleUSB20HubPort@1d180000  &lt;class AppleUSB20HubPort, id 0x10000035e</string>
				<key>indent</key>
				<integer>20</integer>
				<key>id</key>
				<string>0x10000035e</string>
				<key>name</key>
				<string>AppleUSB20HubPort</string>
				<key>type</key>
				<string>AppleUSB20HubPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>AppleUSB20HubPort@1d180000</string>
				<key>address</key>
				<string>1d180000</string>
				<key>port</key>
				<string>08000000</string>
			</dict>
		</dict>
		<key>line</key>
		<string>                  AppleUSB20Hub@1d100000  &lt;class AppleUSB20Hub, id 0x10000034c</string>
		<key>indent</key>
		<integer>18</integer>
		<key>id</key>
		<string>0x10000034c</string>
		<key>name</key>
		<string>AppleUSB20Hub</string>
		<key>type</key>
		<string>AppleUSB20Hub</string>
		<key>items</key>
		<dict/>
		<key>is_hub</key>
		<true/>
		<key>address</key>
		<string>1d100000</string>
		<key>locationid</key>
		<integer>487587840</integer>
		<key>parent</key>
		<string>HUB-1d100000</string>
		<key>parent_name</key>
		<string>EUSB@1d000000</string>
		<key>ioservice_path</key>
		<string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/EUSB@1D/EUSB@1d000000/PR10@1d100000/IOUSBHostDevice@1d100000/AppleUSB20Hub@1d100000</string>
	</dict>
</dict>
</plist>
